@font-face {
  font-family: 'Gotham-Bold';
  src: url(./assets/fonts/GothamBold.ttf) format('ttf');
}

@font-face {
  font-family: 'Gotham-Book';
  src: url(./assets/fonts/GothamBook.ttf) format('ttf');
}

@font-face {
  font-family: 'Gotham-Light';
  src: url(./assets/fonts/GothamLight.ttf) format('ttf');
}

@font-face {
  font-family: 'Proxima-Nova-Reg';
  src: url(./assets/fonts/proxima_nova_reg.ttf) format('ttf');
}

@font-face {
  font-family: 'Proxima-Nova-Bold';
  src: url(./assets/fonts/proxima_nova_bold.otf) format('otf');
}
body {
  font-family: 'Gotham-Book', sans-serif;
}

.button,
.file-cta,
.file-name,
input,
.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous,
.select select,
.textarea {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 1.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding: 1.2rem calc(0.75em - 1px);
  position: relative;
  vertical-align: top;
  box-sizing: border-box;
}

a {
  color: #388ad3;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
